<div class="container-fluid contentPanel">
  <div class="content-panel">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"> <a [routerLink]="['/Dashboard']"> Home </a></li>
        <li class="breadcrumb-item"> <a [routerLink]="['/Masterdata']"> Master Data </a></li>
        <li class="breadcrumb-item active" aria-current="page">Functions</li>
      </ol>
    </nav>

    <div class="nav-tabs-custom"> 
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link" [class.active]="moduleName=='RawMaterialFunctions'" id="nav-home-tab" data-toggle="tab"
          href="javascript:void(0)" role="tab" (click)="tabchange('RawMaterialFunctions')" aria-controls="nav-home"
          aria-selected="true">
          <!-- <span class="badge badge-secondary">12</span> <--> <span> Raw Material Functions </span>
        </a>
        <a class="nav-link" [class.active]="moduleName=='SubComponentFunctions'" id="nav-profile-tab" data-toggle="tab"
          href="javascript:void(0)" role="tab" (click)="tabchange('SubComponentFunctions')" aria-controls="nav-profile"
          aria-selected="false">
          <!--  <span class="badge badge-secondary">19</span> <--> <span> Sub-component Functions </span>
        </a>

      </div>
    </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" [class.show]="moduleName=='RawMaterialFunctions'" id="nav-tab1"
        role="tabpanel" aria-labelledby="nav-home-tab">
        <ng-container *ngIf="moduleName=='RawMaterialFunctions'">

          <div class="row">
            <div class="col">
              <div class="content-grid">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex bd-highlight page_title_section">
                      <div class="bd-highlight flex-left">
                        <span> <em>  Raw Material Functions </em></span>
                      </div>
                      <div class="flex-grow-1 bd-highlight flex-left">
                        <span> </span>
                      </div>
                      <div class="bd-highlight" *ngIf="rmmapi.getRolePrivilege('ARF')">
                        <button type="button" (click)="RawMaterialFunctionModal(RawMaterialFunctions)"
                          class="btn btn-primary btn-radius ripple"> <i class="fa fa-plus"></i> Raw Material
                          Function </button>
                      </div>
                    </div>
                    <ng-template #template let-anchor>
                      <span>{{ anchor.nativeElement.innerText }}</span>
                  </ng-template>
                  <div kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td" (mouseover)="showTooltip($event)">
                    <kendo-grid class="k-grid-custom" [data]="rawmaterialfunctionsList" *ngIf="rmmapi.getRolePrivilege('RFL')"
                    [pageable]="{
                      buttonCount: this.searchFilter.buttonCount,
                      info: true,
                      type: type,
                      pageSizes: true,
                      previousNext: true,
                      position: position }"  
                    [pageSize]="this.searchFilter.pageSize" 
                    [skip]="this.searchFilter.pageSkip"
                    [sortable]="{ allowUnsort: false, mode: 'single'}"
                    [sort]="sort"
                    (sortChange)="sortChange($event)"
                    (pageChange)="pageChange($event)">
                      <kendo-grid-column field="Name" title="Raw Material Function Name" width=""> </kendo-grid-column>
                      <kendo-grid-column title="Actions" width="90">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <div class="k-grid-action-list">
                            <button aria-label="View/ Edit" data-balloon-pos="left" class="btn btn-sm btn-light" *ngIf="rmmapi.getRolePrivilege('MRF') || rmmapi.getRolePrivilege('VRF')"
                              (click)="EditRawMaterialFunctionInfo(RawMaterialFunctions,dataItem)">
                              <span class="fa-edit"></span></button>
                            <button aria-label="Inactivate" data-balloon-pos="left" *ngIf="rmmapi.getRolePrivilege('IRF')"
                              class="btn btn-sm btn-light btn-light-danger"
                              (click)="InActiveModalInfo(InActiveModal,dataItem)"><span class="fa-ban"></span></button>
                          </div>
                        </ng-template>
                      </kendo-grid-column>
                    </kendo-grid>
                    </div>
                    <ng-template #RawMaterialFunctions let-modal>
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-basic-title">{{ actionType ? 'Add Raw Material Function'
                          :"Edit Raw Material Function" }}</h5>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form name="form" #RawMaterialFunctionform="ngForm"
                        novalidate>
                        <div class="modal-body">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="combo-label">
                                  <label> <span> <em> Raw Material Function Name <span class="mandatory"> </span> </em>
                                    </span> </label>
                                </div>
                                <input type="text"  appInputTrim [disabled]="!rmmapi.getRolePrivilege('MRF') || rmmapi.getRolePrivilege('VRF')=='false' ? true : null" maxlength="100" class="form-control" name="RawMaterialFunctionName"
                                  [(ngModel)]="rawMaterialModel.Name" placeholder="" #RawMaterialFunctionName="ngModel"
                                  [ngClass]="{ 'is-invalid': RawMaterialFunctionform.submitted && RawMaterialFunctionName.invalid }"
                                  required (blur)="CheckDuplicateRawMaterialFunctionInfo()">
                                <div *ngIf="RawMaterialFunctionform.submitted && RawMaterialFunctionName.invalid"
                                  class="invalid-feedback">
                                  <div *ngIf="RawMaterialFunctionName.errors.required">
                                    This field is required.</div>
                                </div>
                                <div class="invalid-feedback" *ngIf="isRawMaterialFunctions">{{env.ValidationMessages.Thisvaluealreadyexists}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" (click)="modal.dismiss('Cross click')"
                            class="btn btn-outline-light btn-radius">Cancel</button>
                          <button type="submit" class="btn btn-primary btn-save btn-radius ripple" (mousedown)="RawMaterialFunctionform.form.valid && AddRawMaterialFunctionInfo(RawMaterialFunctionform.value)" *ngIf="(rmmapi.getRolePrivilege('MRF') && rmmapi.getRolePrivilege('VRF'))|| (rmmapi.getRolePrivilege('MRF'))||(rmmapi.getRolePrivilege('VRF') && !rmmapi.getRolePrivilege('VRD'))">{{ actionType ?
                            'Save'
                            :"Update" }}</button>
                        </div>
                      </form>
                    </ng-template>
                    <ng-template #InActiveModal let-modal>
                      <!-- <div class="modal-header">
                        <h6 class="modal-title">Raw Material Function</h6>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div> -->
                      <div class="modal-body modal-body-sm">
                        <div class="text-center">
                          <div class="avatar-md">
                            <div class="avatar-title">
                              <img class="inacive" src="../../../assets/img/ban.svg" width="50">
                            </div>
                          </div>
                          <div class="row justify-content-center">
                            <h6> Are you sure you want to inactivate the Raw Material Function?</h6>
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-no btn-radius"
                          (click)="modal.dismiss('Cross click')">No</button>
                        <button type="button" class="btn btn-outline-light"
                          (click)="DeleteRawMaterialFunctionInfo()">Yes</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
      <div class="tab-pane fade active" [class.show]="moduleName=='SubComponentFunctions'" id="nav-tab2" role="tabpanel"
        aria-labelledby="nav-profile-tab">
        <ng-container *ngIf="moduleName=='SubComponentFunctions'">
          <app-sub-component-functions></app-sub-component-functions>
        </ng-container>
      </div>
    </div>
  </div>
</div>