<div class="container-fluid contentPanel">
  <div class="content-panel">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"> <a [routerLink]="['/Dashboard']"> Home </a></li>
        <li class="breadcrumb-item"> <a [routerLink]="['/Masterdata']"> Master Data </a></li>
        <li class="breadcrumb-item active" aria-current="page">Status</li>
      </ol>
    </nav>

    <div class="nav-tabs-custom">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a [class.active]="ModuleName=='Status'" class="nav-link active" id="nav-home-tab" data-toggle="tab"
            href="javascript:void(0)" (click)="tabchange('Status')" role="tab" aria-controls="nav-home"
            aria-selected="true">
            <!-- <span class="badge badge-secondary">12</span> <--> <span> Status </span>
          </a>
          <a [class.active]="ModuleName=='StatusTypes'" class="nav-link" id="nav-profile-tab" data-toggle="tab"
            href="javascript:void(0)" (click)="tabchange('StatusTypes')" role="tab" aria-controls="nav-profile"
            aria-selected="false">
            <span> Status Types</span>
          </a>

        </div>
      </nav>
    </div>



    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" [class.show]="ModuleName=='Status'" id="nav-tab1" role="tabpanel"
        aria-labelledby="nav-home-tab">
        <ng-container *ngIf="ModuleName=='Status'">

          <div class="row">
            <div class="col">
              <div class="content-grid">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex bd-highlight page_title_section">
                      <div class="bd-highlight flex-left">
                        <span> <em> Status </em> </span>
                      </div>
                      <div class="flex-grow-1 bd-highlight flex-left">
                        <span> </span>
                      </div>
                      <div class="bd-highlight" *ngIf="rmmapi.getRolePrivilege('ASTATUS')">
                        <button (click)="openStatusPopUp(Status)" type="button" data-toggle="modal"
                          data-target="#myModal" class="btn btn-primary btn-radius">
                          <i class="fa fa-plus"></i> Status
                        </button>
                      </div>
                    </div>
                    <ng-template #template let-anchor>
                      <span>{{ anchor.nativeElement.innerText }}</span>
                    </ng-template>
                    <div kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td"
                      (mouseover)="showTooltip($event)">
                      <kendo-grid class="k-grid-custom" [data]="statusList" *ngIf="rmmapi.getRolePrivilege('VSL')"
                        [pageable]="{
                    buttonCount: this.searchFilter.buttonCount,
                    info: true,
                    type: type,
                    pageSizes: true,
                    previousNext: true,
                    position: position }" [pageSize]="this.searchFilter.pageSize" [skip]="this.searchFilter.pageSkip"
                        [sortable]="{ allowUnsort: false, mode: 'single'}" [sort]="sort"
                        (sortChange)="sortChange($event)" (pageChange)="pageChange($event)">
                        <kendo-grid-column field="Name" title="Status Name" width=""> </kendo-grid-column>
                        <kendo-grid-column field="StatusTypeName" title="Status Type" width=""></kendo-grid-column>
                        <kendo-grid-column field="Code" title="Code" width=""></kendo-grid-column>
                        <kendo-grid-column title="Actions" width="90">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="k-grid-action-list">
                              <button aria-label="View/ Edit" data-balloon-pos="left" class="btn btn-sm btn-light"
                                (click)="editStatus(Status,dataItem)"
                                *ngIf="rmmapi.getRolePrivilege('MSTATUS') || rmmapi.getRolePrivilege('VSTATUS')"> <span
                                  class="fa-edit"></span> </button>
                              <button aria-label="Inactivate" data-balloon-pos="left"
                                class="btn btn-sm btn-light btn-light-danger"
                                (click)="InActiveModalInfo(InActiveModal, dataItem)"
                                *ngIf="rmmapi.getRolePrivilege('ISTATUS')"> <span class="fa-ban"></span> </button>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                      </kendo-grid>
                    </div>
                    <ng-template #Status let-modal>
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-basic-title"> {{ actionType ? 'Add Status' :"Edit Status"
                          }}</h5>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="frm_Status" name="form" [formGroup]="statusform">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="combo-label">
                                  <label for="StatusName"><span><em>Status Name <span
                                          class="mandatory"></span></em></span></label>
                                </div>
                                <input type="text"  appInputTrim maxlength="100" class="form-control" name="StatusName"
                                  [(ngModel)]="Model.Name" formControlName="StatusName" placeholder=""
                                  [ngClass]="{ 'is-invalid ng-invalid ng-touched': statusform.submitted && statusform.controls.StatusName.invalid }"
                                  (blur)="checkDuplicateStatusName()">
                                <div class="invalid-feedback"
                                  *ngIf="!isDuplicateStatus && statusform.controls.StatusName.errors?.required && statusform.controls.StatusName.touched">
                                  This field is Required.</div>
                                <div class="invalid-feedback" *ngIf="isDuplicateStatus">{{this.env.ValidationMessages.Thisvaluealreadyexists}}</div>
                              </div>
                              <div class="col-md-6">
                                <div class="combo-label">
                                  <label for="Code"><span><em> Code <span class="mandatory"></span></em></span></label>
                                </div>
                                <input type="text"  appInputTrim maxlength="10" class="form-control" name="code" (blur)="checkDuplicateStatusCode()"
                                  [ngClass]="{ 'is-invalid ng-invalid ng-touched': statusform.submitted && statusform.controls.Code.invalid }"
                                  [(ngModel)]="Model.Code" formControlName="Code" placeholder="">
                                <div class="invalid-feedback"
                                  *ngIf="!isDuplicateStatusCode && statusform.controls.Code.errors?.required && statusform.controls.Code.touched">
                                  This field is Required.</div>

                                  <div class="invalid-feedback" *ngIf="isDuplicateStatusCode">{{this.env.ValidationMessages.Thisvaluealreadyexists}}</div>
                        
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="combo-label">
                                  <label for="StatusType"> <span><em> Status Type <span
                                          class="mandatory"></span></em></span></label>
                                </div>
                                <kendo-dropdownlist name="StatusType" class="kendo_custom_dropdown"
                                  [data]="allStatusType" textField="Name" valueField="Id" formControlName="statustypeid"
                                  [valuePrimitive]="true" [(ngModel)]="Model.StatusTypeId" [defaultItem]="defaultItem">
                                </kendo-dropdownlist>
                                <div class="invalid-feedback"
                                  *ngIf="statusform.controls.statustypeid.errors?.required && statusform.controls.statustypeid.touched">
                                  This field is Required.</div>
                              </div>
                            </div>
                          </div>

                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" (click)="modal.dismiss('Cross click')"
                          class="btn btn-outline-light btn-radius">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-save btn-radius ripple"
                          *ngIf="(rmmapi.getRolePrivilege('MSTATUS') && rmmapi.getRolePrivilege('VSTATUS'))|| (rmmapi.getRolePrivilege('MSTATUS'))||(rmmapi.getRolePrivilege('VSTATUS') && !rmmapi.getRolePrivilege('VSTATUS'))"
                          (click)="saveStatus()">{{ actionType ? 'Save' :"Update" }}</button>
                      </div>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </ng-container>
        <ng-template #InActiveModal let-modal>
          <div class="modal-body modal-body-sm">
            <div class="text-center">
              <div class="avatar-md">
                <div class="avatar-title">
                  <img class="inacive" src="../../../assets/img/ban.svg" width="50">
                </div>
              </div>
              <div class="row justify-content-center">
                <h6> Are you sure you want to inactivate the Status?</h6>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-no btn-radius"
              (click)="modal.dismiss('Cross click')">No</button>
            <button type="button" class="btn btn-outline-light btn-radius" (click)="deleteStatus(dataItem)">Yes</button>
          </div>
        </ng-template>
      </div>

      <div class="tab-pane fade active" [class.show]="ModuleName=='StatusTypes'" id="nav-tab2" role="tabpanel"
        aria-labelledby="nav-profile-tab">
        <ng-container *ngIf="ModuleName=='StatusTypes'">

          <app-status-types></app-status-types>

        </ng-container>
      </div>

    </div>
  </div>
</div>