<div class="forgot-body">
    <div class="login-wrapper">
       <div class="panel">
          <div class="login-content">
             <div class="logo">
               <img src="../../../assets/img/rmReady-White.png" width="200" style="margin-bottom: 10px;">
             </div>
             <div class="hexagon_section">
                <div class="hexagon hexagon_pos_1">
                   <div class="hexagon-bg">
                      <img class="hexagon-img" src="../../../assets/img/order-02.svg" width="40px">
                   </div>
                </div>
                <div class="hexagon hexagon_pos_2">
                   <div class="hexagon-in">
                      <div class="hexagon-bg">
                         <img class="hexagon-img" src="../../../assets/img/order-01.svg" width="30px">
                      </div>
                   </div>
 
                </div>
                <div class="hexagon hexagon_pos_3">
                   <div class="hexagon-in">
                      <div class="hexagon-bg">
                         <img class="hexagon-img" src="../../../assets/img/order-03.svg" width="35px">
                      </div>
                   </div>
                </div>
                <div class="hexagon hexagon_pos_4">
                   <div class="hexagon-in">
                      <div class="hexagon-bg">
                         <img class="hexagon-img" src="../../../assets/img/order-04.svg" width="50px">
                      </div>
                   </div>
                </div>
                <div class="hexagon hexagon_pos_5">
                   <div class="hexagon-in">
                      <div class="hexagon-bg">
                         <img class="hexagon-img" src="../../../assets/img/order-05.svg" width="35px">
                      </div>
                   </div>
                </div>
                <div class="hexagon hexagon_pos_6">
                   <div class="hexagon-in">
                      <div class="hexagon-bg">
                         <img class="hexagon-img" src="../../../assets/img/order-06.svg" width="35px">
                      </div>
                   </div>
                </div>
                <div class="hexagon hexagon_pos_7">
                   <div class="hexagon-in">
                      <div class="hexagon-bg">
                         <img class="hexagon-img" src="../../../assets/img/order-07.svg" width="40px">
                      </div>
                   </div>
                </div>
 
             </div>
          </div>
 
          <div class="login-form">
             <div class="login-fields">
                <div class="login-title">
                    <h3> Forgot Password </h3>
                    <p class="text-muted">Enter the username associated with your account, We will email you a link to reset your password.</p>
                </div>
                <form name="form" (ngSubmit)="f.form.valid && ForgotPassword()" #f="ngForm">
                   <div class="form-group">
                      <div class="combo-label">
                         <label for="username"><span><em>User Name </em></span></label>
                      </div>
                      <input type="text"  appInputTrim id="username" autocomplete="off" class="form-control" placeholder=""
                         [(ngModel)]="forgotPasswordModel.UserName" name="UserName" #UserName="ngModel" maxlength="50"
                         [ngClass]="{ 'is-invalid': f.submitted && UserName.invalid }" required>
                         
                   </div>
                   <div class="login-btn">
                      <button type="submit" class="btn btn-primary btn-block ripple"> <span class="sr-only">
                         </span>Retrieve Password</button>
                   </div>
                   <div class="forgot">
                      <a (click)="Login()" > Go to Login </a>
                   </div>

                   <div *ngIf="f.submitted && UserName.invalid" class="invalid-feedback text-center m-t-15">
                     <div *ngIf="UserName.errors.required">{{env.ValidationMessages.requiredForgotPwdMsg}}</div>
                 </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    <div class="login-footer">
       <div class="content-wrapper">
          <p> © 2022 FREYR. All Rights Reserved </p>
       </div>
    </div>
 </div>