
  <div class="row">
    <div class="col">
      <div class="content-grid"> 
      <div class="card">
        <div class="card-body">
          <div class="d-flex bd-highlight page_title_section">
            <div class="bd-highlight flex-left">
              <span> <em> Regulation Groups  </em> </span>
            </div>
            <div class="flex-grow-1 bd-highlight flex-left">
              <span> </span>
            </div>
            <div class="bd-highlight" *ngIf="rmmapi.getRolePrivilege('ARG')">
              <button type="button" class="btn btn-primary btn-radius ripple" (click)="RegulationGroupsModal(Regulations)"> <i
                class="fa fa-plus"> </i> Regulation Group
            </button>
            </div>
          </div>

          <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
        </ng-template>
        <div kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td" (mouseover)="showTooltip($event)">
          <kendo-grid class="k-grid-custom" [data]="regulationList" *ngIf="rmmapi.getRolePrivilege('RGL')"
          [pageable]="{
            buttonCount: this.searchFilter.buttonCount,
              info: true,
              type: type,
              pageSizes: true,
              previousNext: true,
              position: position }" 
          [pageSize]="this.searchFilter.pageSize" 
          [skip]="this.searchFilter.pageSkip"
          [sortable]="{ allowUnsort: false, mode: 'single'}"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          (pageChange)="pageChange($event)">
            <kendo-grid-column field="Name" title="Regulation Group Name" width=""> </kendo-grid-column>
            <kendo-grid-column field="ApplicableMarketName" title="Applicable Markets" width=""></kendo-grid-column>
            <!-- <kendo-grid-column field="CreatedBy" title="CreatedBy" width="150"></kendo-grid-column> -->
            <kendo-grid-column title="Actions" width="90">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="k-grid-action-list"> 
                <button aria-label="View/ Edit" data-balloon-pos="left"  class="btn btn-sm btn-light " (click)="EditRegulationGroupsInfo(Regulations,dataItem)" *ngIf="rmmapi.getRolePrivilege('MRG')||rmmapi.getRolePrivilege('VRG')"><span  class="fa-edit"></span></button>
                <button aria-label="Inactivate" data-balloon-pos="left" class="btn btn-sm btn-light btn-light-danger " (click)="InActiveModalInfo(InActiveModal,dataItem)" *ngIf="rmmapi.getRolePrivilege('IRG')"><span class="fa-ban"></span></button>
                    </div>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
          </div>
          <ng-template #Regulations let-modal>
            <div class="modal-header">
              <h5 class="modal-title" id="modal-basic-title">{{ actionType ? 'Add Regulation Group' :"Edit Regulation Group"  }}</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="form" #Regulationsform="ngForm" 
              (ngSubmit)="Regulationsform.form.valid && AddRegulationGroupsInfo(Regulationsform.value)" novalidate>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="combo-label"> 
                        <label> <span> <em> Regulation Group Name <span class="mandatory"> </span> </em> </span></label>
                      </div>
                      <input type="text"  appInputTrim  [disabled]="!rmmapi.getRolePrivilege('MRG') || rmmapi.getRolePrivilege('VRG')=='false' ? true : null"  maxlength="100" class="form-control" name="RegulationGroupName" 
                        [(ngModel)]="regulationGroupsModel.Name" placeholder="" #RegulationGroupName="ngModel"
                        [ngClass]="{ 'is-invalid ng-touched': Regulationsform.submitted && RegulationGroupName.invalid }" required
                        (blur)="IsCheckRegulationGroupsInfo()">
                      <div *ngIf="Regulationsform.submitted && RegulationGroupName.invalid" class="invalid-feedback">
                        <div *ngIf="RegulationGroupName.errors.required">This field is required.</div>
                      </div>
                      <div class="invalid-feedback" *ngIf="isCheckRegulationGroup">{{this.env.ValidationMessages.Thisvaluealreadyexists}}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="combo-label">
                        <label> <span> <em> Applicable Markets 
                          <!-- <span class="mandatory"> </span>  -->
                        </em> </span> </label>
                      </div>
                      
                      <kendo-dropdownlist name="ApplicableMarkets" class="kendo_custom_dropdown" [disabled]="!rmmapi.getRolePrivilege('MRG') || rmmapi.getRolePrivilege('VRG')=='false' ? true : null"
                        [data]="AllMarkets" textField="Name" [defaultItem]="defaultItem" valueField="Id"
                        [(ngModel)]="regulationGroupsModel.ApplicableMarketId" #ApplicableMarkets="ngModel"
                        [valuePrimitive]="true"
                        [ngClass]="{ 'is-invalid': Regulationsform.submitted && ApplicableMarkets.invalid }">
                      </kendo-dropdownlist>
                      <!-- <div *ngIf="Regulationsform.submitted && ApplicableMarkets.invalid" class="invalid-feedback">
                        <div *ngIf="ApplicableMarkets.errors.required">At least one selection is required.</div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="modal.dismiss('Cross click')"
                  class="btn btn-outline-light btn-radius">Cancel</button>
                <button type="submit" class="btn btn-primary btn-save btn-radius" *ngIf="(rmmapi.getRolePrivilege('MRG') && rmmapi.getRolePrivilege('VRG'))|| (rmmapi.getRolePrivilege('MRG'))||(rmmapi.getRolePrivilege('VRG') && !rmmapi.getRolePrivilege('VRG'))">{{ actionType ? 'Save' :"Update" }}</button>
              </div>
            </form>
          </ng-template>
          <ng-template #InActiveModal let-modal>
            
            <div class="modal-body modal-body-sm">
              <div class="text-center">
                <div class="avatar-md">
                  <div class="avatar-title">
                    <img class="inacive" src="../../../assets/img/ban.svg" width="50">
                  </div>
                </div>
                <div class="row justify-content-center">
                  <h6> Are you sure you want to inactivate the Checklist Regulation Group?</h6>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-radius btn-no ripple"
                (click)="modal.dismiss('Cross click')">No</button>
              <button type="button" class="btn btn-outline-light btn-radius" (click)="DeleteRegulationGroupsInfo()">Yes</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    </div>
  </div>
