<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Change Password</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="frm_RawMaterial" name="form" #Userform="ngForm" [mustMatch]="['NewPassword', 'ConfirmPassword']"
    (ngSubmit)="Userform.form.valid && ChangePassword(Userform.value)">
    <!-- Modal body -->
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="combo-label">
                            <label for="HealthAuthority"> <span> <em> Old Password <span class="mandatory"> </span>
                                    </em> </span> </label>
                        </div>
                        <input type="password" class="form-control" name="OldPassword"
                            [(ngModel)]="changePasswordModel.OldPassword" placeholder="" #OldPassword="ngModel"
                            maxlength="500" [ngClass]="{ 'is-invalid': Userform.submitted && OldPassword.invalid }"
                            required>
                        <div *ngIf="Userform.submitted && OldPassword.invalid" class="invalid-feedback">
                            <div *ngIf="OldPassword.errors.required">{{env.ValidationMessages.requiredChangePwdMsg}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="combo-label">
                            <label for="HealthAuthority"> <span> <em> New Password <span class="mandatory"> </span>
                                    </em> </span>
                            </label>
                        </div>
                        <input type="password" class="form-control" name="NewPassword"
                            [(ngModel)]="changePasswordModel.NewPassword" placeholder="" #NewPassword="ngModel"
                            minlength="6" maxlength="100"
                            [ngClass]="{ 'is-invalid': Userform.submitted && NewPassword.invalid }" required>
                        <div *ngIf="Userform.submitted && NewPassword.invalid" class="invalid-feedback">
                            <div *ngIf="NewPassword.errors.required">{{env.ValidationMessages.requiredChangePwdMsg}}
                            </div>
                            <div *ngIf="NewPassword.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="combo-label">
                            <label for="HealthAuthority"><span><em>Confirm Password <span class="mandatory">
                                        </span></em></span></label>
                        </div>
                        <input type="password" class="form-control" name="ConfirmPassword"
                            [(ngModel)]="changePasswordModel.ConfirmPassword" #ConfirmPassword="ngModel"
                            [ngClass]="{ 'is-invalid': Userform.submitted && ConfirmPassword.invalid }" required />
                        <div *ngIf="Userform.submitted && ConfirmPassword.invalid" class="invalid-feedback">
                            <div *ngIf="ConfirmPassword.errors.required">{{env.ValidationMessages.requiredChangePwdMsg}}
                            </div>
                            <div *ngIf="ConfirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" (click)="activeModal.dismiss('Cross click')"
                class="btn btn-outline-light btn-radius">Cancel</button>
            <button type="submit" class="btn btn-primary btn-save btn-radius">{{ "Update" }}</button>
        </div>
    </div>
    <!-- <div *ngIf="isLoading" class="k-i-loading"></div> -->
</form>