<div class="setpassword-body">
   <div class="login-wrapper">
      <div class="panel">
         <div class="login-content">
            <div class="logo">
               <img src="../../../assets/img/rmReady-White.png" width="200" style="margin-bottom: 10px;">
            </div>
            <div class="hexagon_section">
               <div class="hexagon hexagon_pos_1">
                  <div class="hexagon-bg">
                     <img class="hexagon-img" src="../../../assets/img/order-02.svg" width="40px">
                  </div>
               </div>
               <div class="hexagon hexagon_pos_2">
                  <div class="hexagon-in">
                     <div class="hexagon-bg">
                        <img class="hexagon-img" src="../../../assets/img/order-01.svg" width="30px">
                     </div>
                  </div>
               </div>
               <div class="hexagon hexagon_pos_3">
                  <div class="hexagon-in">
                     <div class="hexagon-bg">
                        <img class="hexagon-img" src="../../../assets/img/order-03.svg" width="35px">
                     </div>
                  </div>
               </div>
               <div class="hexagon hexagon_pos_4">
                  <div class="hexagon-in">
                     <div class="hexagon-bg">
                        <img class="hexagon-img" src="../../../assets/img/order-04.svg" width="50px">
                     </div>
                  </div>
               </div>
               <div class="hexagon hexagon_pos_5">
                  <div class="hexagon-in">
                     <div class="hexagon-bg">
                        <img class="hexagon-img" src="../../../assets/img/order-05.svg" width="35px">
                     </div>
                  </div>
               </div>
               <div class="hexagon hexagon_pos_6">
                  <div class="hexagon-in">
                     <div class="hexagon-bg">
                        <img class="hexagon-img" src="../../../assets/img/order-06.svg" width="35px">
                     </div>
                  </div>
               </div>
               <div class="hexagon hexagon_pos_7">
                  <div class="hexagon-in">
                     <div class="hexagon-bg">
                        <img class="hexagon-img" src="../../../assets/img/order-07.svg" width="40px">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="login-form">
            <div class="login-fields">
               <div class="login-title">
                  <h3> Set Password </h3>
                  <p>Please create a secure password</p>
               </div>
               <form name="form" (ngSubmit)="Userform.form.valid && SetPassword()"
                  [mustMatch]="['NewPassword', 'ConfirmPassword']" #Userform="ngForm">
                  <div class="form-group">
                     <div>
                        <div class="combo-label">
                           <label for=""> <span> <em> New Password <span class="mandatory"> </span>
                                 </em> </span>
                           </label>
                        </div>
                        <input type="password" class="form-control" name="NewPassword"
                           [(ngModel)]="setPasswordModel.NewPassword" placeholder="" #NewPassword="ngModel"
                           minlength="6" maxlength="100"
                           [ngClass]="{ 'is-invalid': Userform.submitted && NewPassword.invalid }" required>
                        
                     </div>
                  </div>
                  <div class="form-group">
                     <div>
                        <div class="combo-label">
                           <label for=""><span><em>Confirm Password <span class="mandatory"> </span></em></span>
                           </label>
                        </div>
                        <input type="password" class="form-control" name="ConfirmPassword"
                           [(ngModel)]="setPasswordModel.ConfirmPassword" #ConfirmPassword="ngModel"
                           [ngClass]="{ 'is-invalid': Userform.submitted && ConfirmPassword.invalid }" required />
                        
                     </div>
                  </div>
                  <div class="login-btn">
                     <button type="submit" class="btn btn-primary btn-block ripple"> <span class="sr-only">
                        </span>Set Password</button>
                  </div>
                  <div *ngIf="Userform.submitted && NewPassword.invalid" class="invalid-feedback text-center">
                     <div *ngIf="NewPassword.errors.required">{{env.ValidationMessages.requiredChangePwdMsg}}
                     </div>
                     <div *ngIf="NewPassword.errors.minlength"> Password must contain at least 6 letters </div>
                  </div>
                  <div *ngIf="Userform.submitted && ConfirmPassword.invalid" class="invalid-feedback text-center">
                     <!-- <div *ngIf="ConfirmPassword.errors.required">{{env.ValidationMessages.requiredChangePwdMsg}}
                     </div> -->
                     <div *ngIf="ConfirmPassword.errors.mustMatch">Please make sure your passwords match</div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="login-footer">
      <div class="content-wrapper">
         <p> © 2022 FREYR. All Rights Reserved </p>
      </div>
   </div>
</div>