<div class="container-fluid contentPanel">
    <div class="content-panel">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom">
          <li class="breadcrumb-item"> <a href=""> Home </a></li>
          <li class="breadcrumb-item"> <a href=""> Formulations </a></li>
          <li class="breadcrumb-item active" aria-current="page">Version & Change Details</li>
        </ol>
      </nav>
      <div class="nav-tabs-custom"> 
      <nav>
        <div class="nav nav-tabs nav-justified nav-tabs-dropdown" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-tab1" role="tab"
            aria-controls="nav-home" aria-selected="true">
            <!-- <span class="badge badge-secondary">12</span> <--> <span> Version & Change Details </span>
          </a>
          <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-tab2" role="tab"
            aria-controls="nav-profile" aria-selected="false">
            <!--  <span class=" badge badge-secondary">19</span> <--> <span> Raw Materials </span>
          </a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-tab3" role="tab"
            aria-controls="nav-contact" aria-selected="false">
            <!--  <span class="badge badge-secondary">29</span> <--> <span> Market Regulations </span>
          </a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-tab4" role="tab"
            aria-controls="nav-contact" aria-selected="false">
            <!--  <span class="badge badge-secondary">39</span> <--> <span> Data & Documents Check </span>
          </a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-tab5" role="tab"
            aria-controls="nav-contact" aria-selected="false">
            <!--  <span class="badge badge-secondary">39</span> <--> <span> Formulation & Transcript/Summary
            </span>
          </a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-tab6" role="tab"
            aria-controls="nav-contact" aria-selected="false">
            <!-- <span class="badge badge-secondary">39</span> <--> <span> Ingredient List/INCI Breakdown
            </span>
          </a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-tab7" role="tab"
            aria-controls="nav-contact" aria-selected="false">
            <!-- <span class="badge badge-secondary">39</span> <--> <span> Document Traking </span>
          </a>

        </div>
      </nav>
      </div>
      <div class="nav_tabs_section">
        <div class="card">
          <div class="card-body">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="view-panel">
                  <div class="row">
                    <div class="col">

                      <div class="form-group">
                        <div class="d-flex flex-row-reverse bd-highlight page_title_section">
                          <div class="bd-highlight"><a href="#" data-toggle="modal" data-target="#myModal"> All versions </a></div>
                        </div>
                      </div>
                      <div class="form-group view-form-group">
                        <div class="view-item">
                          <div class="row">
                            <div class="col-4">
                              <label>Product Name</label>
                              <span class="">Liquid Hand wash skin care</span>
                            </div>

                            <div class="col-4">
                              <label>Product Category</label> 
                              <span class="">Personal card germ protection</span>
                            </div>

                            <div class="col-4">
                              <label>Formulation Reference Number</label> 
                              <span class="">8152004</span>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="form-group view-form-group">
                        <div class="view-item">
                          <div class="row">
                            <div class="col-4">
                              <label>Version Number</label> 
                              <span class="">V0.1</span>
                            </div>

                            <div class="col-4">
                              <label>Markets</label> 
                              <span class="">Korea</span>
                            </div>

                            <div class="col-4">
                              <label> R & D Contact</label> 
                              <span class="">Luna Zhang</span>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="form-group view-form-group">
                        <div class="view-item">
                          <div class="row">
                            <div class="col-4">
                              <label>Project</label> 
                              <span class="">Lily-LHW</span>
                            </div>

                            <div class="col-4">
                              <label>Reason for Change</label> 
                              <span class=""> - </span>
                            </div>

                            <div class="col-4">
                              <label> Created Date </label> 
                              <span class="">22-Apr-20</span>
                            </div>

                          </div>
                        </div>
                      </div>


                      <div class="form-group view-form-group">
                        <div class="view-item">
                          <div class="row">
                            <div class="col-4">
                              <label>Created By</label> 
                              <span class="">Jaden Whitaker</span>
                            </div>

                            <div class="col-4">
                              <label>Last Updated Date</label>
                              <span class="">29-Dec-20</span>
                            </div>

                            <div class="col-4">
                              <label>Status</label> 
                              <span class="">Draft</span>
                            </div>

                          </div>
                        </div>
                      </div>




                    </div>
                  </div>
                </div>

              </div>
              <div class="tab-pane fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="view-panel">
                  <div class="row">
                    <div class="col">

                      <div class="form-group">
                        <div class="d-flex flex-row-reverse bd-highlight page_title_section">
                          <div class="bd-highlight page_title_section_right"><button type="button"
                              class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2"> <i
                                class="fa fa-plus"> </i> Add Raw
                              Materials</button></div>
                        </div>
                      </div>
                      <div class="form-group view-form-group">
                        <div class="view-item">
                          Grid
                        </div>
                      </div>
                      <div class="form-group view-form-group">
                        <div class="view-item">
                        </div>
                      </div>
                      <div class="form-group view-form-group">
                        <div class="view-item">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-tab3" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="view-panel">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex bd-highlight page_title_section">
                        <div class="flex-grow-1 bd-highlight">
                          <h6> Market-Wise-Regulations</h6>
                        </div>
                        <div class="bd-highlight page_title_section_right"></div>
                      </div>
                      <div class="row">
                        <div class="col-2 side_nav_pills_section">
                              <div class="sub-menu-nav">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                  aria-orientation="vertical">
                                  <a class="nav-link nav_a active" id="v-pills-home-tab" data-toggle="pill"
                                    href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                    aria-selected="true">Market 1</a>
                                  <a class="nav-link nav_a" id="v-pills-profile-tab" data-toggle="pill"
                                    href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                    aria-selected="false">Market 2</a>
                                  <a class="nav-link nav_a" id="v-pills-messages-tab" data-toggle="pill"
                                    href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                    aria-selected="false">Market 3</a>
                                  <a class="nav-link nav_a" id="v-pills-settings-tab" data-toggle="pill"
                                    href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                    aria-selected="false">Market 4</a>
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-10">
                          <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                              aria-labelledby="v-pills-home-tab">
                              1
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                              aria-labelledby="v-pills-profile-tab">2</div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                              aria-labelledby="v-pills-messages-tab">3</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                              aria-labelledby="v-pills-settings-tab">4</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-tab4" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="view-panel">
                  <div class="row">
                    <div class="col">

                      <div class="d-flex bd-highlight page_title_section">
                        <div class="flex-grow-1 bd-highlight">
                          <h6> Checklist Compliance </h6>
                        </div>
                        <div class="bd-highlight page_title_section_right"></div>
                      </div>
                      Grid
                      <div class="d-flex bd-highlight page_title_section">
                        <div class="flex-grow-1 bd-highlight">
                          <h6> Document Compliance </h6>
                        </div>
                        <div class="bd-highlight page_title_section_right"></div>
                      </div>
                      Grid

                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-tab5" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="view-panel">
                  <div class="row">
                    <div class="col">

                      <div class="d-flex bd-highlight page_title_section">
                        <div class="flex-grow-1 bd-highlight">
                          <h6> Formulation Trascript </h6>
                        </div>
                        <div class="bd-highlight page_title_section_right"> <button type="button"
                            class="btn btn-primary btn-sm"> Save
                            Transcript</button> </div>
                      </div>
                      Grid

                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-tab6" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="view-panel">
                  <div class="row">
                    <div class="col">

                      <div class="d-flex bd-highlight page_title_section">
                        <div class="flex-grow-1 bd-highlight">
                          <h6> Ingredient List/INCI Breakdown </h6>
                        </div>
                        <div class="bd-highlight page_title_section_right"> <button type="button"
                            class="btn btn-primary btn-sm"> Save
                            Ingredient List </button> </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-tab7" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="view-panel">
                  <div class="row">
                    <div class="col">

                      <div class="d-flex bd-highlight page_title_section">
                        <div class="flex-grow-1 bd-highlight">
                          <h6> Document Tracking </h6>
                        </div>
                        <div class="bd-highlight page_title_section_right"> </div>
                      </div>
                      7
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

    


   